################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PedidosYa/.vs/PedidosYa/FileContentIndex/18c1b613-cf60-4f4a-9431-b50ee4889e94.vsidx
/PedidosYa/.vs/PedidosYa/FileContentIndex/1ef7c5be-50e9-42d4-af1e-f3ca08c2e139.vsidx
/PedidosYa/.vs/PedidosYa/FileContentIndex/5e4d0b95-a812-43d2-b918-1cf1a9b5d41e.vsidx
/PedidosYa/.vs/PedidosYa/FileContentIndex/649becfe-310b-4804-8f38-6695d5148aab.vsidx
/PedidosYa/.vs/PedidosYa/FileContentIndex/e4ac0c5f-466c-4fd9-b55a-2d26f86eb087.vsidx
